.App {

}
.falconhead {
    background: gray;


}
.falcon {
    margin: 10px;
    background: aqua;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img {
    width: 100px;
}


